<template>
    <div></div>
</template>

<script>
/* eslint-disable no-unused-vars */
export default {
    name: "Menu",
    props: [
        "articles", "currentArticle", "loading"
    ]
}
</script>

<style lang="scss" scoped>

</style>
