<template>
  <div>
    <h1>{{ header }}</h1>
    <input type="text" name="header" v-model="header"/>
  </div>
</template>

<script>
/* eslint-disable no-unused-vars */
export default {
  name: "App",
  data () {
    return {
      header: "Начальный заголовок"
    }
  },
  mounted: function () {
      // this.header = articles[0].header
  }
}
</script>

<style lang="scss">
@import "~materialize-css/sass/materialize";
</style>
